<section class="section call-to-action is-primary">
    <div class="container is-narrow">
        <div class="box">
            <div class="columns level">
                <div class="column level-item">
                    <h1 class="title has-text-centered">I'm also a Freelancer</h1>
                    <!-- <div class="level-item has-text-centered">
                        <p>Interested in working together ? Lets build beautiful, meaningful things together.
                        </p>
                    </div> -->
                    <div class="level-item has-text-centered">
                        <p>Drop a mail to <i class="fa fa-envelope margin-left-right-10" aria-hidden="true"></i>  raj1996kamal@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>