<section class="section clients is-medium is-white has-text-centered" style="padding-top: 0px;">
    <div class="container is-narrow">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="title is-size-3-desktop is-size-4-tablet is-size-5-mobile">Technology Stack </h1>
        </div>
      </div>
      <div class="client-grid">
        <div class="columns is-multiline is-mobile">
          <div class="column is-half-mobile is-one-quarter-tablet" *ngFor="let skill of skillSets">
            <figure class="image is-2x1" style="height: 100px;"><img class="client-logo" style="width: 50%; display: block; margin-left: auto; margin-right: auto;" src="{{skill.logoUrl}}" height="40" width="40"></figure>
            <p>{{ skill.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>