<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="assets/images/logo.svg" alt="Rajkamal MM | Fullstack Developer" height="68" width="200">
        </a>
            </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start"></div>
        <div class="navbar-end"><a class="navbar-item" href="/">contact</a>
          <div class="navbar-item"><a class="button is-primary is-outlined is-rounded" href="/">Resume</a></div>
        </div>
      </div>
    </div>
  </nav>

<section class="main-landing has-text-centered">
    <div class="landing-body">
        <div class="container">
            <div class="columns is-centered">
                <h1 class="heading title is-size-1-desktop" style="font-size: 40px !important;">Hello, I'm  <b>Rajkamal MM</b> </h1>
                <h2 class="heading subtitle is-size-4-desktop">I'm a full-stack web developer</h2>
                <img class="avatar" src="assets/images/rajkamal.png">
            </div>
        </div>
    </div>
</section>