<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/rajkamal-portfolio">
        <img src="assets/images/logo.svg" alt="Rajkamal MM | Fullstack Developer" height="68" width="200">
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <!-- <a class="navbar-item" href="/">contact</a> -->
        <!-- <div class="navbar-item"><a class="button is-primary is-outlined is-rounded" target="_blank" href="/rajkamal-portfolio/assets/RajkamalMM_3+SoftwareEngineer.pdf">Download CV <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 10px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg></a></div> -->
      </div>
    </div>
    <div class="navbar-item" style="display: contents; float:right;"><a class="button is-primary is-outlined is-rounded"
        target="_blank" href="/rajkamal-portfolio/assets/RajkamalMM_3+Exp_FullstackDev.pdf">Download CV <svg
          xmlns="http://www.w3.org/2000/svg" style="margin-left: 10px;" width="24" height="24" viewBox="0 0 24 24"
          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
          <polyline points="7 10 12 15 17 10"></polyline>
          <line x1="12" y1="15" x2="12" y2="3"></line>
        </svg></a></div>
  </div>
</nav>

<section class="main-landing has-text-centered">
  <div class="landing-body">
    <div class="container">
      <div class="columns is-centered">
        <h1 class="heading title is-size-1-desktop main-title">Rajkamal MM</h1>
        <h2 class="heading subtitle is-size-4-desktop" style="line-height: inherit;">I'm a <b><u>full-stack javascript
              developer</u></b> who has work experience on end to end of web application development</h2>
        <img class="avatar" src="assets/images/rajkamal-img.png">
      </div>
    </div>
  </div>
</section>

<section class="section is-medium is-primary is-long">
  <div class="container">
    <h1 class="title is-size-3-desktop is-size-4-tablet is-size-5-mobile">Hi, I’m Raj. Nice to meet you</h1>
    <div class="columns is-centered">
      <div class="column ">
        <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">About Me</h1>
        <!-- <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Hi, I’m Raj. Nice to meet you.</h1> -->
        <h2 class="subtitle is-size-5-desktop">Experienced Mean stack developer with 3+ years experience in the
          industry and high-level proficiency in the following programs: Angular, Node JS, Javascript, MongoDB,
          ExpressJS.Fully-committed to designing and developing innovative web tools which ease
          the customer work with better user interface.Always learning and
          upgrading myself in every possible situation.</h2>
      </div>
    </div>
  </div>
</section>
<app-work-experience></app-work-experience>
<app-skills></app-skills>
<app-articles></app-articles>
<app-contact></app-contact>
<app-footer></app-footer>