<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="assets/images/logo.svg" alt="Rajkamal MM | Fullstack Developer" height="68" width="200">
        </a>
            </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start"></div>
        <div class="navbar-end"><a class="navbar-item" href="/">contact</a>
          <div class="navbar-item"><a class="button is-primary is-outlined is-rounded" target="_blank" href="/rajkamal-portfolio/assets/RajkamalMM_3+SoftwareEngineer.pdf">Resume</a></div>
        </div>
      </div>
    </div>
  </nav>

<section class="main-landing has-text-centered">
    <div class="landing-body">
        <div class="container">
            <div class="columns is-centered">
                <h1 class="heading title is-size-1-desktop" style="font-size: 40px !important;">Fullstack Developer</h1>
                <h2 class="heading subtitle is-size-4-desktop">I'm a full-stack javascript developer who has work experience on end to end of web application development</h2>
                <img class="avatar" src="assets/images/rajkamal-img.png">
            </div>
        </div>
    </div>
</section>

<section class="section is-medium is-primary is-long">
  <div class="container">
    <h1 class="title is-size-3-desktop is-size-4-tablet is-size-5-mobile">Hi, I’m Raj. Nice to meet you</h1>
    <div class="columns is-centered">
      <div class="column ">
  <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">About Me</h1>
        <!-- <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Hi, I’m Raj. Nice to meet you.</h1> -->
        <h2 class="subtitle is-size-5-desktop">I'm Mission-driven full stack developer with a passion for thoughtful of implementing UI designs,  Writing API services, Handling Database opertions, Deployment of code, writing test cases etc.,</h2>
      </div>
    </div>
  </div>
</section>
<app-work-experience></app-work-experience>
<app-skills></app-skills>
<app-articles></app-articles>
<app-contact></app-contact>
<app-footer></app-footer>