<section class="section startups" style="padding-bottom: 0 !important;">
    <div class="container is-narrow">
        <div class="startup-grid">
            <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile" style="color: #fff;">Work Experience</h1>

            <div class="columns is-multiline level  has-text-centered">
                <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
                    <div class="box">
                        <div style="text-align: justify !important;">
                            <h1 class="title is-size-4 is-spaced">Fullstack developer</h1>
                            <ul>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Capturing the best development practices in a way of a
                                    common coding standards team
                                    of 7 developers resulting in improving code stability and shared components
                                    reusability.</li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Learnt new technologies and started working with
                                    different kind of environments</li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Design and configuration of the fully automated CI/CD
                                    lifecycle for the high-profile
                                    single page application reducing manual deployment intervention by 80%.</li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Reverse-Engineering legacy modules related to
                                    business-critical internal web
                                    application,uncovering security flaws and outdated privacy practices fixed in next
                                    releases.</li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Independent resource handled application for a short span
                                    of time.</li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Have Interacted with business users and understand
                                    requirements; analyze and come up
                                    with optimal technology solutions to business requirements.</li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Worked in Multiple projects with different Combination of
                                    Technologies such as
                                    Angular with C# .NET WEB API and Angular with Node JS RestFul API</li>
                                <!-- <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Used GIT as a Version Control tool and as a code
                                    repository and involved in Project
                                    Code</li> -->
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Debugging and testing and resolving the JIRA bugs
                                    assigned. Used Jenkins for the
                                    build process to generate the rpm-build</li>
                            </ul>
                            <div class="row">
                                <div class="col-sm-6 has-text-centered">
                                    <img class="logo" style="border: 1px solid #ddd;" src="assets/images/ofs-logo.png">
                                </div>
                                <div class="col-sm-6" style="text-align: left !important; margin-top: 15px;">
                                    <span
                                        class="list-title has-text-primary has-text-weight-normal">Company-Name:</span>
                                    <span> ObjectFrontier Software (OFS)</span>
                                    <br>
                                    <span class="list-title has-text-primary has-text-weight-normal">Location:</span>
                                    <span> Chennai</span>
                                    <br>
                                    <span class="list-title has-text-primary has-text-weight-normal">Duration:</span>
                                    <span> Jul 2017 - Dec 2019</span>
                                    <br>
                                    <br>
                                    <br>
                                    <a class="button is-primary is-outlined is-rounded"
                                        href="https://www.objectfrontier.com/" target="_blank"><span>Visit
                                            Website</span><span class="icon"><svg
                                                class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true"
                                                focusable="false" data-prefix="fas" data-icon="angle-right" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                                                data-fa-i2svg="">
                                                <path fill="currentColor"
                                                    d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                                </path>
                                            </svg><!-- <i class="fas fa-angle-right"></i> --></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
                    <div class="box">
                        <div style="text-align: justify !important;">
                            <h1 class="title is-size-4 is-spaced">Meanstack developer</h1>
                            <ul>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Module lead - Developing design pattern and workflow.
                                </li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Handled a team of 5 Members for developing an cloud-based
                                    web development
                                    application.</li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Worked with team members in all phases of the software
                                    development lifecycle,
                                    including:
                                    Requirement gathering, application design, system development, testing and
                                    implementation.</li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Identify, communicate, and propose solutions effectively
                                </li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Experienced and desire to work in fast paced, agile
                                    development environment</li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Experienced with implementing solutions using leading
                                    commercial Cloud provider
                                    Google
                                    Cloud Platform (GCP)</li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Conduct code reviews and maintain consistent development
                                    standards</li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Writing technical specifications and maintaining
                                    documentation</li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Optimized the reusable code to a single library in
                                    angular to be used within the
                                    core product.</li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Handled the authentication implementation and derived
                                    Microservice based
                                    architecture in
                                    Node JS.</li>
                                <li><i style="margin-right: 10px;" class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i>Derived the Redux implementation in the application to
                                    avoid unnecessary API calls
                                    to server</li>
                            </ul>
                            <div class="row">
                                <div class="col-sm-6 has-text-centered">
                                    <img class="logo" style="border: 1px solid #ddd;" src="assets/images/fss-logo.png">
                                </div>
                                <div class="col-sm-6" style="text-align: left !important; margin-top: 15px">
                                    <span
                                        class="list-title has-text-primary has-text-weight-normal">Company-Name:</span>
                                    <span> Financial Software & Systems Pvt. Ltd.</span>
                                    <br>
                                    <span class="list-title has-text-primary has-text-weight-normal">Location:</span>
                                    <span> Chennai</span>
                                    <br>
                                    <span class="list-title has-text-primary has-text-weight-normal">Duration:</span>
                                    <span> Dec 2019 - Present</span>
                                    <br>
                                    <br>
                                    <br>
                                    <a class="button is-primary is-outlined is-rounded" href="https://www.fsstech.com/"
                                        target="_blank"><span>Visit Website</span><span class="icon"><svg
                                                class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true"
                                                focusable="false" data-prefix="fas" data-icon="angle-right" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                                                data-fa-i2svg="">
                                                <path fill="currentColor"
                                                    d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                                </path>
                                            </svg><!-- <i class="fas fa-angle-right"></i> --></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>